.friendList {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 15px;
}

.friendListItem {
    border: 2px solid black;
    border-radius: 5px;
    width: 120px;
    height: 180px;
    list-style-type: none;
}